/*ronanjbyrne@gmail.com*/
.icon-large{font-size:10em;}

/*Used on API icons*/
.icon-medium-large {font-size:5em;}

.image-left{float:left;}
.image-right{float:right;}

/*Used on the btns in marketplace*/
.btn-default {
    color: black;
    background-color: grey;
}
             /* Featurettes
------------------------- */

.featurette-divider {
  margin: 70px 10px;
  width:885px; /* Space out the Bootstrap <hr> more */
}
.featurette-divider-bottom{
  margin: 70px 10px;
  width:885px;
  margin-left:-30px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette-heading.smalltopmargin{
    margin-top:15px !important;
}
/*new brand nav*/
header h1 a.navbar-brand {
  font-size: 50px;
  line-height: 1em;
  color: #4d4d4d;
  padding: 0;
}

header #logo {
  padding-bottom: 15px;
}
/*new navbar*/
.navbar-default{
  background-color: #FFF;
  border: 1px solid #FFF;
}

.tm-navbar {
  padding: 0px;
  margin: 56px 0 0 0;
  position: relative;
  z-index: 5;
  float: right;
}

.tm-navbar > li {
  padding: 0;
  margin-left: 32px;
  position: relative;
}

.tm-navbar > li:first-child {
  margin-left: 0
}

.tm-navbar > li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: url(../img/menu-marker.gif) 0 0 no-repeat;
  width: 5px;
  height: 6px;
  left: 50%;
  bottom: 3px;
  margin-left: -2px;
}

.tm-navbar > li > a {
  color: #4d4d4d;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 13px 0;
  border-bottom: 3px  solid transparent;
}

.tm-navbar > li.sfHover > a,
.tm-navbar > li.sfHover > a:hover,
.tm-navbar > li > a:hover,
.tm-navbar > li.active > a,
.tm-navbar > li.active > a:hover {
  border-bottom: 3px  solid #eb5f53;
  background: none;
}

.tm-navbar ul {
  position: absolute;
  list-style: none;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 28px 10px 28px 10px;
  margin: 0;
  width: 155px;
  text-align: center;
  left: -10px;
  top: 45px;
  background: #4d4d4d;
  border-radius: 4px;
}

.tm-navbar ul li {
  font-size: 16px;
  line-height: 22px;
  display: block;
}

.tm-navbar ul li a {
  color: #ffffff;
  display: block;
  padding: 4px 10px 5px 20px;
  border-radius: 4px;
  text-align: left;
}

.tm-navbar ul li a:hover {
  color: #ffffff;
  background: #646464;
  text-decoration: none;
}

.left-nav h1 {
  font-size: 1em;
  text-transform: uppercase;
  margin: 10px 0px;
  padding: 0px;
}

.left-nav ol,
.left-nav ul {
  padding: 0px;
}

.left-nav ol li,
.left-nav ul li {
  color: #c0c0c0;
  margin: 5px 0px;
}

.left-nav ol ol,
.left-nav ul ul {
  padding-left: 22px;
}

/*2nd Nav- sidebar*/
.sidebar{float: right;             
        margin-left:865px;         
        margin-top:-260px;
        position:fixed;
        width:200px;                      

} 
footer {
  color: #fff;
  padding: 20px 0 9px 0;
  font-size: 13px;
  line-height: 22px;
  background: #4d4d4d;
  position: static;
  border-top: #ededed 1px solid;
  width: 100%;
  bottom: 0px;
}
.footer{
    position:absolute
}
footer span {
  padding-top: 5px;
  display: block;
  padding-left:370px
}

footer span a {
  color: #fff;
  margin: 0px 0px;
}

footer span a:hover {
  text-decoration: underline;
  color: #fff;
}

.social-icons {  
  display: inline-block;
  overflow: hidden;
  float: right;
  padding-right:400px
}

.social-icons li {
  display: inline-block;
  float: left;
  margin-left: 3px;
  line-height: 0;
  font-size: 0px;
  width: 33px;
  text-align: center;
}

.social-icons li:first-child {
  border: none;
  margin-left: 0;
}

.social-icons li a {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 33px;
  font-family: Arial, Helvetica, sans-serif;
  background: #5c5c5c;
  border-radius: 4px;
  color: #fff;
}

.social-icons li a:hover {
  color: #fff;
  background: #eb5f53;
  text-decoration: none;
}

.social-icons li a:before {
  text-align: center;
  right: 0;
  font-weight: normal;
  margin: 0;
  font-family: 'FontAwesome';
}

.containerapps{
    margin-left:510px;   
}

.navbarapps{display: block;
            float:right;

}

.codeplaceholder{ background-color:#eeeeee;
                  font-size: x-large;
                  text-align:center;
                  border:none;
                  float:right;
                  margin-right:0px;                  
                 
}
.formtable{margin-right:30px;
           
          
}
.formtable td
{
padding:10px;
border-radius:10px;
}


.terms a:hover{color:black;
               text-decoration:none

}
.terms a:active{color:black;

}
.terms a:visited{color:black;

}
.terms a:link{color:black;

}
/*JQuery terminal*/
.terminal .terminal-output .format, .terminal .cmd .format,
.terminal .cmd .prompt, .terminal .cmd .prompt div, .terminal .terminal-output div div{
    display: inline-block;
}
.terminal .clipboard {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.01;
    filter: alpha(opacity = 0.01);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.01);
    width: 2px;
}
.cmd > .clipboard {
    position: fixed;
}
.terminal {
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.cmd {
    padding: 0;
    margin: 0;
    height: 1.3em;
    /*margin-top: 3px; */
}
.terminal .terminal-output div div, .terminal .prompt {
    display: block;
    line-height: 14px;
    height: auto;
}
.terminal .prompt {
    float: left;
}

.terminal {
    font-family: monospace;
    color: #44FF11; 
    background-color: #000;
    font-size: 12px;
    line-height: 14px;
}
.terminal-output > div {
    /*padding-top: 3px;*/
}
.terminal .terminal-output div span {
    display: inline-block;
}
.terminal .cmd span {
    float: left;
    /*display: inline-block; */
}
.terminal .cmd span.inverted {
    background-color: #000;
    color: #44FF11; 
}
.terminal .terminal-output div div::-moz-selection,
.terminal .terminal-output div span::-moz-selection,
.terminal .terminal-output div div a::-moz-selection {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div div::selection,
.terminal .terminal-output div div a::selection,
.terminal .terminal-output div span::selection,
.terminal .cmd > span::selection,
.terminal .prompt span::selection {
    background-color: #aaa;
    color: #000;
}
.terminal .terminal-output div.error, .terminal .terminal-output div.error div {
    color: red;
}
.tilda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}
.clear {
    clear: both;
}
.terminal a {
    color: #0F60FF;
}
.terminal a:hover {
    color: red;
}
/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}
.social{    
    display:inline;       
    
}







