<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.Extensions" version="1.5.26.1" targetFramework="net45" />
  <package id="AWS.SessionProvider" version="1.5.39.0" targetFramework="net45" />
  <package id="AWSSDK" version="2.0.2.0" targetFramework="net45" />
  <package id="jQuery" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
</packages>