<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>    
      <add key="AWSAccessKey" value="AKIAI3M2DZWZGMO7SZRA" />
      <add key="AWSSecretKey" value="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" />
      <add key="AWSServiceURL" value="HTTP://sdb.eu-west-1.amazonaws.com/" />    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="AWSSDK" publicKeyToken="9f476d3089b52be3" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>

</configuration>
